<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Block sensitive directories" stopProcessing="true">
          <match url="^(includes|doc|logs|TMP|tmp)(/.*)?$" ignoreCase="true" />
          <action type="CustomResponse" statusCode="404" statusReason="Not Found" statusDescription="Not Found" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="includes" />
          <add segment="doc" />
          <add segment="logs" />
          <add segment="TMP" />
          <add segment="tmp" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
